body{
    background-color: #eae7dc;
    margin: 0px;
}

/*------------------------------------------Barra superior*--------ok---*/
.topnavbar{
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;

    background-color: #3f3529;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 15px 5px #3f3529;
}
.botonestopnavbar:hover{
    color: #eae7dc;
    cursor: pointer;
    text-shadow: #eae7dc 0px 0px 15px;
    transition: 0.3s;
}
/*lado izquierdo*/
.contenidoizq{
    position: relative;
    float: left;
    width: 100%;
    height: 60px;
    left: 25px;

    font-family: 'Montserrat', sans-serif ;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
}
.topnavbar-button{
    position:relative;
    top:18px;

    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #d8c3a5;
}
/*lado derecho*/
.contenidoder{
    font-family:'Montserrat', sans-serif  ;
    float:right;
    width: 170px;
    position: relative;
    right: 25px;
    top: -51px;
}
.textoderecha{
    position: relative;
    float: left;
    top: 9px;
    color: #d8c3a5;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration:none;

}
.signin-button{
    position: relative;
    font-size: 33px;
    color: #3f3529;
    float: right;
    top:5px;
    transition: 0.3s;
}
.textoderecha:hover + .signin-button{
    color: #d8c3a5;
    text-shadow: #eae7dc 0px 0px 15px;
}
.textoderecha:hover{
    text-shadow: #eae7dc 0px 0px 10px;
}

/*-----------------------------Contenido-----------------------------*/
.contenidototal{
    height: fit-content;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.contenido{
    margin: 60px 20px 15px;
    background-color: #d8c3a5;
    height: 900px;
}
.texto{
    margin: 50px 50px;
    font-weight: 500;
}
.texto p{
    color:#3f3529;
    font-size: 18px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.texto h1{
    font-size: 40px;
    padding: 30px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    letter-spacing: 3px;
    color: #3f3529;
    text-shadow: 0px 0px 25px #3f3529;
}
.texto h3{
    color:#3f3529;
    font-size: 20px;
    margin-top: 50px;
    text-shadow: 0px 0px 5px #3f3529;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}






/*----------------------------Pie de pagina--------------------------*/
.pie{
    width: 100%;
    background-color: #3f3529;
    display: flex;
}

.contenedorpie{
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    margin: 20px auto;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:#d8c3a5
}
